html,
body {
    background-color: #c9cfcf;
    margin: 0;
    padding: 0;
}

.btn-li {
    width: 100%;
    height: fit-content;
}

.btn {
    display: inline-flex;
    height: 10%;
    min-width: 33%;
    border-radius: 0px 0 15px 15px;
}

.btn:hover {
    background-color: rgb(61, 215, 215);
}

.btn:active {
    background-color: rgb(40, 247, 247);
}

.img {
    margin-left: auto;
    margin-right: auto;
}

.btn-add {
    position: absolute;
    bottom: 1%;
    left: 1%;
    margin-left: 2%;
    height: fit-content;
    width: fit-content;
    border-radius: 15px 15px 15px 15px;
}

.btn-add:hover {
    background-color: rgb(61, 215, 141);
}

.btn-add:active {
    background-color: rgb(47, 190, 140);
}

#add {
    margin-block: auto;
    margin-inline: auto;
}